<!-- Página principal -->

<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pagina principal</title>
  <!-- Responsividad  -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <!-- Fuente -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Estilo -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- Skin  -->
  <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">

  <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<!-- onload carga el JSON al abrir la página automáticamente -->
<body onload="init()" class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Header principal -->
  <header class="main-header">

    <!-- Logo -->
    <a href="index.html" class="logo">
      <span class="logo-mini">PURBI</span>
      <span class="logo-lg"><b>ParkURBIke</b></span>
    </a>

    <!-- Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span></a>
          </nav>

  </header>
  <aside class="main-sidebar">

    <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Menú</li>
        <!-- fa-algo son los iconos, hay varios para elegir -->
        <li class="active"><a href="index.html"><i class="fa fa-line-chart"></i> <span>Estado actual</span></a></li>
        <li><a href="reservas3.html"><i class="fa fa-bicycle"></i> <span>Reservas</span></a></li>
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Parqueaderos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <!-- Menú -->
          <ul class="treeview-menu">
            <li><a href="sedeprincipal.html">Sede principal</a></li>
            <li><a href="angelico.html">Angelico</a></li>
            <li><a href="sedes.html">Todas las estaciones</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>

  <!-- Content Wrapper con el contenido de la página (cabecera) -->
  <div class="content-wrapper">
    <section class="content-header">

      <h4><b>En la siguiente página se muestra el estado actual del parqueadero, así como las variables que guarda el programa de reserva.</b></h4>

    </section>
    <!-- Contenido principal -->
    <div class="content-header">

      <!-- init() es el script para leer el JSON y refrescar cada 1000 milisegundos -->
      <!-- En los id demo y contenido se muestran datos desde los scripts con innerHTML -->
      <script src="js/myScript.js"></script>
      <script>
        init();
      </script>
Datos del JSON:
<p id="demo"></p>
<br><br>
Datos de las reservas:
    <p id="contenido"></p>
    <br>
    
    <!-- <img style="display: none;" src="js/demo.php"> -->
    <!-- Fin contenido -->
    </div>
  </div>

  <!-- Footer -->
  <footer class="main-footer">
    <!-- Parte derecha -->
    <div class="pull-right hidden-xs">
      Universidad Santo Tomás
    </div>
    <!-- Parte izquierda -->
    <strong>Universidad Santo Tomás
  </footer>

<!-- Scripts JS -->

<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App, del que se hereda el esqueleto de la página -->
<script src="dist/js/app.min.js"></script>

<!-- Scripts propios y archivos json -->
<script type="text/javascript" src="js/reservation.js"></script>
<script type="text/javascript" src="http://192.168.1.195:80/js/test2.json"></script>
<!-- <script type="text/javascript" src="http://192.168.1.19:8080/js/test.json"></script> -->



</body>
</html>
